

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.svg-box {
    margin-right: 5px;
}

.hero-img {
    border-radius: 10px;
    height: 350px;
    width: 600px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
}
